.shop-container{
    display: grid;
    grid-template-columns:  4fr 1fr;
    
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
}
.btn-priview{
    margin-top: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 5px;
    background-color: orange;
    
}
.review-link{
    text-decoration: none;
}